
#ignore thumbnails created by windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
rf_options.h
src/main.c
errorLog
infoLog
refuErrorLog
refuInfoLog
refu.depend
docs/html
docs/doxygenLog.txt
Examples/Doxygen_Html
*.pyc
*.layout
*.backup
Tests/TestsLog
*.o
TAGS
librefu.a
librefu.so
temp_build_data.json


# the ./check binary generated for the unit tests
check
check_exec

# malinka/rtags compile commands database
compile_commands.json

# Scons related
.sconsign.dblite
.sconf_temp
build_test
build_static
build_shared/
