
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
rf_options.h
src/main.c
errorLog
infoLog
refuErrorLog
refuInfoLog
refu.depend
docs/html
docs/doxygenLog.txt
Examples/Doxygen_Html
*.pyc
*.layout
*.backup
Tests/TestsLog
*.o
.sconsign.dblite
TAGS
scripts/systemcheck/systemcheck
librefu.a
librefu.so
