# This is the configuration file of Refu Library
# Notice that it is a python file. All strings need to be 
# enclosed in ' ' and you can freely use anything you want
# from the Python libraries.
# 
# For explanation of variables look at scripts/sconsdata/variables.py
# or simply run scons with the -h option

import os

REFU_DIR= './'

OBJ_DIR='obj'

COMPILER_FLAGS='-Wall -g'

LINKER_DYNAMIC_FLAGS= ''

LINKER_STATIC_FLAGS= ''

OUTPUT_NAME='refu'

REFU_MODULES= 'ALL'


DEBUG= 0

SAFE_MEMORY_ALLOC='NO'

VERBOSE_ERROR_LOGGING='YES'


FGETS_READ_BYTESN= 512

STRINGX_CAPACITY_MULTIPLIER= 2


DYNAMICARRAY_CAPACITY_MULTIPLIER= 2

LOCAL_STACK_SIZE= 1048576

TEXTFILE_ADD_BOM= 'YES'

THREADX_MSGQUEUE_SIZE= 10


